.app{
  background-color: rgb(235, 228, 225);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav{
  text-align: center;
  background-color: burlywood
}
.left{
  float: left;
}

.red{
  background-color: red;
}
.grey{
  background-color: grey;
}