.app{
  background-color: rgb(235, 226, 222);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav{
  background-color: rgb(223, 177, 222);
  color: rgb(68, 10, 21);
  text-shadow: 2px 2px gold;
  text-align: center;
}
h1{
  text-align: center;
}
.red{
  background-color: red;
}
.grey{
  background-color: grey;
}
.image{
  width: 50vw;
  margin: auto;
}